botbuilder-adapters-slack
botbuilder-ai
botbuilder-applicationinsights
botbuilder-azure
botbuilder-core
botbuilder-dialogs
botbuilder-integration-aiohttp
botbuilder-schema
botbuilder-testing
botframework-connector
SQLAlchemy
tabulate
