[Unit]
Description=Secret Santa Bot Service
After=network.target

[Service]
Type=simple
User=secretsanta
Group=www-data
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/secretsanta/secretsantabot
ExecStart=/home/secretsanta/venv/bin/python /home/secretsanta/secretsantabot/app.py --path=/run/secretsantabot/ssb.sock
ExecStartPost=/bin/bash -c "sleep 1; chmod 770 /run/secretsantabot/ssb.sock"
StandardOutput=append:/var/log/secretsantabot/ssb.log
StandardError=append:/var/log/secretsantabot/ssb_err.log
Restart=on-failure

ProtectSystem=full
RuntimeDirectory=secretsantabot
LogsDirectory=secretsantabot

[Install]
WantedBy=multi-user.target
