<p>Try the following commands, replacing &lt;name&gt; with their full name:</p>
<strong>Check Allocations</strong>
<ul>
 <li><pre>who has &lt;name&gt;</pre></li>
 <li><pre>who does &lt;name&gt; have</pre></li>
 <li><pre>print everyone</pre> list of people in the team</li>
 <li><pre>print everyone with allocations</pre> list of people and who they have</li>
</ul>

<strong>Admin Functions</strong>
<ul>
 <li><pre>start a new secret santa: &lt;name&gt;</pre> reset everything and start a new secret santa</li>
 <li><pre>do allocations</pre> assign secret santas</li>
 <li><pre>add person: &lt;name&gt; &lt;&lt;email&gt;&gt;</pre> add a person not in the slack channel to the secret santa. Note: email is optional.</li>
 <li><pre>add admin: &lt;name&gt;</pre> make a new person an admin</li>
 <li><pre>remove person: &lt;name&gt;</pre> remove a person from the secret santa.</li>
 <li><pre>send all allocations</pre> send messages to everyone with their secret santa allocations</li>
 <li><pre>send allocation to &lt;name&gt;</pre> send allocation to a specific person again</li>
 <li><pre>post welcome message</pre> post the getting started message to #general</li>
 <li><pre>send admin help to &lt;name&gt;</pre> send admin help to a person</li>
</ul>