<h2>Welcome to Secret Santa 2022: The Return of 🎅</h2>
<p>Secret santa allocations have just been sent out to everyone. You should get a message from me (🎅 Secret Santa Bot) with the name of the person you are gifting.</p><br>
<p>A quick recap of this years rules:
<ul>
 <li>Gifts will be exchanged on the 16th of December at the 🎉 End of Year Lunch 🎉. This will give you roughly two weeks to find a gift.</li>
 <li>You will have to bring the gift with you to the Fernery in Mosman.</li>
 <li>Write the name of your special someone in big letters on the gift, but leave your own name off. Gifts should be given anonymously.</li>
 <ul>
    <li>(Of course there are no rules against guessing who gave you what though)</li>
 </ul>
 <li>Upper gift limit is $30, with a bit of wiggle room 😁</li>
</ul>
</p>
<p>If you didn't get a name and you think you should have, or if you run into any problems, talk to Sebastian Pauka or Alexis George.</p><br>
<p>Happy Gifting 🎁!</p><br>
<p>- 🎅 Secret Santa Bot<br>(Github: https://github.com/spauka/secretsantabot/)</p>
